.app-nav {
  background: var(--theme-black);
  color: var(--theme-white);
  display: flex;
  flex-flow: row nowrap;
}


.app-nav__inner {
  width: 1211px;
  margin-right: auto;
  margin-left: auto;
}

.nav__list {
  display: flex;
  flex-flow: row nowrap;

}

.nav__item {
  width: 180px;
  margin-right: 64px;
}

/* .nav-submenu__list {} */

.nav__link {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 17px;
}

.nav-submenu__item {
  font-size: 1.5rem;
}

.nav-submenu__item a {
  display: inline-block;
  margin-bottom: 5px;
}