.sign-up {
  width: 762px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  color: var(--theme-gold);
}

.sign-up__inner {
  background: #fff;
  padding-top: 25px;
  padding-right: auto;
  padding-left: auto;
  border: 1px solid #CBC5BE;
  border-radius: 3px;
}


.sign-up__headline {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.32rem;
  text-align: center;
}

.sign-up__text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.sign-up__text::after {
  margin-top: 25px;
  content: '';
  display: block;
  border-top: 1px solid #CBC5BE;
}

.sign-up__form::before {
  content: '';
  display: block;
  width: 108px;
  height: 105px;
  background: url(./images/signup-BaristaGirl.png) no-repeat;
  margin: 40px auto 20px auto;
}

/* 회원가입 폼 */
.sign-up__form {
  /* background: skyblue; */
  width: 440px;
  margin-right: auto;
  margin-left: auto;
}

/* 회원가입 폼 레이블 텍스트 스타일 */
.sign-up__form label,
.sign-up-gender__text--bold,
.sign-up-birth__text--bold,
.sign-up-auth__text--bold {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
}

.sign-up__form .required::after {
  content: '*';
  color: var(--theme-terra);
}

.sign-up-gender__container .sign-up-gender__label {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
}

.sign-up-gender__container .sign-up-gender__label::after {
  content: '';
}

.sign-up-birth__text,
.sign-up-agreement__text--star {
  font-size: 1.2rem;
  line-height: 1.4;
}

.sign-up-auth__text {
  font-size: 1.2rem;
  line-height: 1.2;
}

/* 회원가입 폼 input 스타일 */
.sign-up__form input {
  /* 입력 전 스타일, 기본 */
  border: 1px solid var(--theme-gold);
  border-radius: 3px;
  border-color: rgba(125, 111, 93, 0.5);
  padding: 9px;
  /* margin-top: 10px; */
}

/* 회원가입 폼 정렬 및 여백 */
.sign-up-id__container,
.sign-up-pw__container,
.sign-up-pw-confirm__container,
.sign-up-tel__container {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
}

.sign-up-id__container label,
.sign-up-pw__container label,
.sign-up-pw-confirm__container label,
.sign-up-tel__container label {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.sign-up-name-gender__wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.sign-up-gender__text--bold {
  width: 100%;
}

.sign-up-name__container {
  display: flex;
  flex-flow: column;
  width: 50%;
  padding-right: 10px;
}

.sign-up-gender__container {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding-left: 10px;
}

.sign-up-gender__container .sign-up-gender__input {
  margin-top: 0;

}

/* .sign-up-gender__text--bold {
  width: 100%;
} */



.sign-up-gender__label {
  background: red;
}

.sign-up-gender__text--bold {
  display: inline;
}

/* .sign-up-id__container input,
.sign-up-pw__container input,
.sign-up-pw-confirm__container input,
.sign-up-tel__container input {
  width: 100%;
} */


.sign-up-birth__container select {
  border: 1px solid var(--theme-gold);
  border-radius: 3px;
  border-color: rgba(125, 111, 93, 0.5);
  padding: 9px;
  /* margin-top: 10px; */

}

/* .sign-up-gender__input {
  display: inline;
} */

/* .sign-up-gender {
  display: inline;
} */



.sign-up-auth__text {
  font-size: 1.2rem;
}

/* 회원가입폼 - 선택동의사항 */
.sign-up-agreement__inner {
  background: var(--theme-white);
  border: 1px solid var(--theme-gold);
  border-radius: 3px;
  padding: 17px;
}

.sign-up-agreement__text {
  font-size: 1.2rem;
  line-height: 1.2;
}